@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Inter:wght@400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');

:root {
    --emglow-primary: #D855D7;
    --emglow-secondary: #FAD1E1;
    --emglow-black: #313131;
    --emglow-accent: #E15C19;
    --grey-color: #B2B7BE;
    --inter: 'Inter', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --bai: 'Bai Jamjuree', sans-serif;
}

html {
    width: 100%;
}

body {
    font-family: var(--inter) !important;
    min-height: 75rem;
    padding-top: 4.5rem;
    letter-spacing: 1%;
}

.navbar-emglow .nav-item .nav-link {
    color: #313131 !important;
    font-family: var(--poppins) !important;
    font-size: 14px;
}

.navbar-emglow .nav-item {
    margin-right: 24px;
}

.navbar-emglow .navbar-toggler .menu-hamburger {
    width: 48px !important;
}

.navbar-emglow .nav-item .nav-link.active {
    color: var(--emglow-primary) !important;
    font-weight: 600;
    font-family: var(--poppins) !important;
}

.navbar-emglow .navbar {
    background-color: white;
    box-shadow: inset 4px 0px 8px rgba(152, 152, 152, 0.2);
}

.navbar-emglow img {
    height: 52px;
    width: auto;
}

.btn-primary-emglow {
    background-color: var(--emglow-primary) !important;
    padding: 0.375rem 1.25rem;
    font-family: var(--poppins);
    font-weight: 600;
    color: #fff;
    border-radius: 36px;
}

.btn-primary-emglow:hover {
    color: white !important;
}

.hero-emglow {
    min-height: 280px;
    background: linear-gradient(90deg, #FEF3F7 0%, rgba(220, 100, 216, 0) 100%);
}

.hero-emglow h1 {
    font-size: 52px;
    line-height: 64px;
    font-family: var(--poppins);
    font-weight: 600;
    color: var(--emglow-black);
    background: linear-gradient(96.46deg, #D855D7 3.72%, #D855D7 31.05%, #793C97 68.54%, #010420 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-emglow h4 {
    font-size: 24px;
    line-height: 35px;
    font-family: var(--poppins);
    color: var(--emglow-black);
    font-weight: 600;
}

.hero-emglow .content-hero {
    padding: 3.75rem 2.25rem;
}

.hero-emglow .tagline {
    font-size: 18px;
    line-height: 24px;
    color: var(--emglow-accent);
    font-weight: 600;
    font-family: var(--poppins);
}

.btn-emglow-dark {
    background-color: #231A36;
    color: #fff;
    font-family: var(--inter);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    padding: 0.75rem 2rem;
    border-radius: 36px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.btn-emglow-dark:hover {
    color: #fff !important;
    background-color: var(--emglow-black);
}

.awards-emglow {
    margin-top: 120px;
}

.awards-emglow .title-section {
    margin-bottom: 48px;
}

.awards-emglow .title-section .h2 {
    font-size: 48px;
    color: var(--emglow-primary);
    line-height: 60px;
    font-family: var(--bai);
    font-weight: 700;
}

.awards-emglow .title-section .h2 img {
    width: 60px;
}

.awards-emglow .title-section .subtitle {
    font-size: 16px;
    color: #B2B7BE;
    line-height: 28px;
    font-weight: 300;
}

.awards-emglow .card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.awards-emglow .awards-container {
    margin: 5em 0;
}

.awards-carousel .card-title {
    font-size: 24px;
    color: var(--emglow-black);
    font-family: var(--poppins);
    line-height: 36px;
    font-weight: 600;
}

.youtube-emglow {
    margin: 120px 0;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #ffffff 100%);
    padding: 64px 0;
}

.youtube-emglow .h4 {
    font-size: 48px;
    font-family: var(--bai);
    color: var(--emglow-primary);
    font-weight: 700;
    line-height: 60px;
}

.youtube-emglow p {
    font-size: 14px;
    font-weight: 300;
    color: var(--emglow-black);
    line-height: 28px;
}

.title-awards {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: #B2B7BE;
    line-height: 20px;
    letter-spacing: 1px;
}

.features-emglow .features-container {
    padding: 6em 0 !important;
}

.features-emglow {
    margin: 100px 0;
    min-height: 100px;
    background: #231A36;
    background-size: cover;
}

.content-features h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    color: white;
    font-family: var(--poppins);
}

.content-features .statistics {
    margin-top: 72px;
}

.content-features .numbers {
    font-weight: 600;
    font-size: 40px;
    font-family: var(--poppins);
    line-height: 40px;
    color: white;
}

.content-features .type {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    font-family: var(--inter);
    color: white;
    margin-top: 12px;
}

.products-emglow .title h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    font-family: var(--poppins);
    /* or 133% */

    text-align: center;
    letter-spacing: 0.01em;

    /* Black/General */

    color: #252525;

}

.products-emglow .title p {
    font-weight: 400;
    margin-top: 24px;
    font-size: 16px;
    line-height: 24px;
    font-family: var(--inter);
    /* identical to box height, or 140% */

    text-align: center;

    color: #767E7E;

}

.treatment-list .title {
    font-weight: 600;
    font-size: 36px;
    line-height: 28px;
    /* identical to box height, or 78% */
    font-family: var(--poppins);
    letter-spacing: 0.01em;

    /* Black/General */

    color: #252525;
}

.divider {
    height: 4px;
    margin: 48px 0;
    background-color: var(--emglow-secondary);
}

.treatment-list .desc {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 140% */
    margin-top: 24px;
    font-family: var(--inter);

    color: #767E7E;
}

.product-list .title {
    font-weight: 600;
    font-size: 36px;
    line-height: 28px;
    /* identical to box height, or 78% */
    font-family: var(--poppins);
    letter-spacing: 0.01em;

    /* Black/General */

    color: #252525;
}

.product-list .desc {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 140% */
    margin-top: 24px;
    font-family: var(--inter);

    color: #767E7E;
}

.strike-text {
    color: var(--emglow-black);
}

.product-image {
    width: 100%;
}

.treatment h5 {
    font-weight: 600;
    font-size: 24px;
    color: var(--emglow-black);
    font-family: var(--poppins);
}

.treatment .text-success {
    font-family: var(--inter);
}

.treatment .price-treatment {
    color: var(--emglow-accent);
    font-family: var(--poppins);
    font-size: 22px;
    font-weight: 600;
}

.animate-charcter {
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    font-family: var(--poppins);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 24px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.para {
    font-size: 16px;
    font-family: var(--inter);
    color: var(--emglow-black);
}

.treatment .treatment-card {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.treatment .btn-outline-primary {
    border-color: var(--emglow-primary) !important;
    color: var(--emglow-primary) !important;
    font-family: var(--poppins);
    font-weight: 600;
}

.section-products .btn-outline-primary {
    border-color: var(--emglow-primary) !important;
    color: var(--emglow-primary) !important;
    font-family: var(--poppins);
}

.treatment .btn-outline-primary:hover {
    background-color: white;
    color: var(--emglow-primary);
}

.section-products .btn-outline-primary:hover {
    background-color: white;
    color: var(--emglow-primary);
}

.section-products {
    padding: 72px 0 54px;
}

.section-products .about h5 {
    font-family: var(--poppins);
    font-weight: 600;
    color: var(--emglow-black);
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
    font-family: var(--inter);
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 600;
    color: #444444;
    font-family: var(--poppins);
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.section-products .single-product .part-1::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
    transform: scale(1.2, 1.2) rotate(5deg);
}


.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: var(--emglow-black);
    background-color: var(--emglow-secondary);
    padding: 2px 8px;
    border-radius: 24px;
    font-size: 0.85rem;
    text-transform: capitalize;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: var(--emglow-secondary);
    border-radius: 24px;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
    font-family: var(--poppins);
    line-height: 24px;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
    color: var(--emglow-primary);
    font-family: var(--poppins);
    font-weight: 500;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

.section-products .product-price {
    font-family: var(--poppins);
    font-size: 20px !important;
    font-weight: 600 !important;
    color: var(--emglow-accent) !important;
}

.featured-treatment {
    background: #F4ECE9;
}

.featured-treatment h4 {
    color: #414449;
    font-size: 18px;
    line-height: 30px;
    font-family: var(--poppins);
    text-transform: uppercase;
}

.featured-treatment h1 {
    font-size: 48px;
    color: var(--emglow-black);
    font-family: var(--poppins);
    line-height: 60px;
    font-weight: 600;
}

.featured-treatment p {
    color: #727272;
    font-size: 16px;
    line-height: 28px;
    font-family: var(--inter);
    font-weight: 400;
}

.featured-treatment .icons .title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    font-family: var(--poppins);
    color: #222;
}

.commitment {
    margin-top: 140px;
    margin-bottom: 140px;
}

.commitment .title {
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    color: var(--emglow-black);
    font-family: var(--poppins);
}

.commitment .desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #6D6D6D;
    font-family: var(--inter);
}

.commitment .commitment-box .testi {
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 164% */

    font-family: var(--inter);
    color: #6D6D6D;

}

.commitment .commitment-box h4 {
    font-family: var(--poppins);
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height */


    color: #1C1C1D;

}

.commitment .commitment-box .title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #9C988F;

}

.booking {
    max-height: 100%;
    background-color: #F4ECE9;
    padding-top: 2rem;
}

.booking .copy-customer {
    font-family: var(--poppins);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    /* or 150% */

    letter-spacing: 0.01em;

    color: #414449;

}

.booking .divider {
    height: 133px;
    border-left: 4px solid #718176;
    width: 4px;
}

.booking .cta {
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    /* or 117% */
    font-family: var(--poppins);

    letter-spacing: -0.02em;
    text-transform: capitalize;

    color: var(--emglow-black);
}

.booking .btn-accent-emglow {
    background-color: #E15C19;
    font-size: 16px;
    line-height: 24px;
    color: white;
    border-radius: 24px;
    font-family: var(--poppins);
    font-weight: 600;
}

/* ==========================================
    FOR DEMO PURPOSE
  ========================================== */

.text-small {
    font-size: 0.9rem;
}

.emglow-footer .h1 {
    font-size: 36px;
    color: var(--emglow-primary);
    font-weight: 700;
    font-family: var(--bai);
    line-height: 48px;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover,
a:focus {
    text-decoration: none;
}

.form-control {
    background: white;
    border-color: #545454;
}

.form-control:focus {
    background: #212529;
}

footer {
    background: whitesmoke;
}

.emglow-footer h5 {
    font-family: var(--poppins);
}

footer .copyright p {
    margin: 0;
}

footer ul li {
    margin-bottom: 12px;
}

/* RESPONSIVE SIDE */

@media (max-width: 767.98px) {
    .hero-emglow h1 {
        font-size: 36px !important;
        line-height: 48px;
    }

    .title-hero {
        text-align: center;
        margin-bottom: 48px;
    }

    .features-emglow {
        margin: 0;
        margin-bottom: 100px;
    }

    .content-features {
        padding: 0;
    }

    .content-features h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .content-features .numbers {
        font-size: 20px !important;
        line-height: 24px;
    }

    .btn-emglow-dark {
        font-size: small;
        padding: auto;
    }

    .btn-emglow-dark:hover {
        font-size: small;
        padding: auto;
    }

    .products-emglow .title h1 {
        font-size: 36px;
        line-height: 48px;
        color: var(--emglow-black);
        font-family: var(--bai) !important;
        font-weight: 700 !important;
    }

    .products-emglow .title p {
        font-size: 14px;
    }

    .section-products .header h2 {
        font-size: 24px;
        line-height: 36px;
    }

    .lainnya-sm {
        font-size: 14px;
        border-radius: 8px !important;
    }

    .featured-treatment {
        padding: 1rem 2rem;
    }

    .featured-treatment .title {
        text-align: center;
        margin-top: 24px;
        font-size: 36px;
        line-height: 48px;
    }

    .featured-treatment .desc {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }

    .featured-treatment .icons .title {
        font-size: 18px;
        line-height: 30px;
        text-align: left;
    }

    .featured-treatment .icons .desc {
        font-size: 14px;
        line-height: 22px;
        text-align: left;
    }

    .commitment .title {
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 24px;
    }

    .commitment .desc {
        font-size: 24px;
        line-height: 36px;
    }

    .booking .content {
        padding: 0 2rem;
    }

    .booking .content .copy-customer {
        font-size: 14px;
        line-height: 22px;
    }

    .booking .content .cta {
        font-size: 32px;
        line-height: 48px;
        color: #252525;
    }

    .booking .education {
        font-size: 16px;
        font-weight: 400;
        color: #414449;
        line-height: 30px;
    }

    .booking .btn-accent-emglow {
        width: 100%;
        margin-bottom: 36px;
    }
}

/* Testimonial */

.testimonials {
    margin-bottom: 100px;
}

.testimonials .subtitle {
    font-family: var(--inter);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: var(--emglow-accent);
    text-transform: uppercase;
}

.testimonials .title {
    font-size: 48px;
    font-weight: 600;
    font-family: var(--poppins);
    line-height: 60px;
    color: #252525;
}

.shadow-effect {
    background: #fff;
    padding: 24px;
    border-radius: 16px;
    text-align: center;
    border: 1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.10), 0 15px 12px rgba(0, 0, 0, 0.02);
}

#customers-testimonials .shadow-effect p {
    font-family: var(--inter);
    font-size: 13px;
    line-height: 28px;
    margin: 0 0 17px 0;
    font-weight: 400;
    color: #414449;
}

.testimonial-name {
    margin: -17px auto 0;
    display: table;
    font-family: var(--poppins);
    font-weight: 600;
    width: auto;
    background: var(--emglow-secondary);
    padding: 9px 35px;
    border-radius: 16px;
    text-align: center;
    color: var(--emglow-primary);
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}

.testimonial-name p {
    font-size: 14px;
    font-weight: 400;
    color: #252525;
    line-height: 28px;
    margin: 0 !important;
}

#customers-testimonials .item {
    text-align: center;
    padding: 16px;
    margin-bottom: 80px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}

.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 100%;
    margin: 0 auto 17px;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: var(--emglow-primary);
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-testimonials.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: var(--emglow-primary);
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}

/* 
---------------------------------------------
Promos Style
--------------------------------------------- 
*/

.promos {
    margin: 120px 0;
    background-color: #f2d8ff;
    background-image: linear-gradient(0deg, #f2d8ff 0%, #ffffff 100%);
}

.promos .content-container {
    padding: 2.75rem 2rem;
}

.promos .content-container div.title-promos {
    font-size: 48px;
    font-family: var(--bai);
    color: var(--emglow-primary);
    line-height: 60px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.promos .title-promos img {
    width: 60px;
    margin-left: 8px;
}

.promos .subtitle-promos {
    color: var(--emglow-black);
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1%;
    margin-bottom: 16px;
}

.promos .content {
    margin-top: 36px;
}

.promos .banner-thumbnail {
    width: 100%;
    height: 260px;
    overflow: hidden;
    background-color: #444444;
    border-radius: 24px;
}

.promos .banner-thumbnail .banner-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.promos .text {
    font-size: 18px;
    color: var(--emglow-black);
    font-family: var(--poppins);
    line-height: 32px;
    font-weight: 600;
}

/* ABOUT */
/* FOR ABOUT PAGE */

.header-section {
    padding: 50px;
    text-align: center;
    background-color: var(--emglow-secondary);
    color: var(--emglow-black);
}

.header-section .title {
    font-size: 48px;
    font-family: var(--bai);
    font-weight: 700;
}

.content-about h1 {
    font-size: 36px;
    line-height: 52px;
    font-weight: 700;
    color: var(--emglow-black);
    font-family: var(--bai);
}

/* CABANG */

.content-cabang h1 {
    font-size: 36px;
    font-family: var(--bai);
    color: var(--emglow-black);
    font-weight: 600;
}

/* TREATMENT */

.box {
    padding: 40px 30px;
    transition: all .4s ease-in-out;
    cursor: pointer;
    border-radius: 24px;
    border: 1px solid #ddd;
}

.box:hover {
    box-shadow: 2px 2px 10px #a5a5a5;
    transform: scale(1.03);
}

a:hover {
    text-decoration: none;
}

.emglow-treatment img {
    object-fit: contain;
    width: 320px;
    height: auto;
    /* padding: 20px; */
}



p.text-muted {
    margin: 0;
    font-size: 0.9rem;
}

b {
    font-size: 1.12rem;
}

.blue {
    background-color: #bedcfa;
    transform: rotateZ(90deg);
}

.pale-blue {
    background-color: #eff8ff;
}

.pale-orange {
    background-color: #ffe5b9;
}

.pale-purple {
    background-color: #e8e8e8;
}

.pale-cyan {
    background-color: #cffffe;
}

.pale-pink {
    background-color: #ffe4e4;
}

.pale-pale {
    background-color: #f4eeff;
}

.pale-green {
    background-color: #a0ffe6;
}

.pale-pista {
    background-color: #dbf6e9;
}

.content-treatment .category-name {
    padding: 1rem 0;
    text-align: center;
    color: white;
    font-family: var(--bai);
    font-size: 24px;
    background-color: var(--emglow-accent) !important;
    border-radius: 24px;
}

.content-treatment h5 {
    font-size: 24px;
    color: var(--emglow-black);
    font-family: var(--bai);
    font-weight: 700;
}

.content-treatment p {
    font-size: 13px;
    font-weight: 400;
    color: #718176;
    line-height: 25px;
}

/* STORE */

.store .content-store .container-product {
    width: 100%;
    height: 180px;
    overflow: hidden;
    border-radius: 24px;
}

.store .content-store .container-product .photo-product {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.store .content-store .title {
    font-size: 24px;
    color: var(--emglow-accent);
    font-family: var(--bai);
    font-weight: 700;
    margin: 12px 0;
}

.store .content-store .subtitle {
    font-size: 13px;
    color: #767E7E;
    font-weight: 400;
    margin-bottom: 14px;
}

.store-background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 99;
}

.t-products {
    background-image: linear-gradient(to right top, #5629c0, #5625cb, #5620d5, #551ae0, #5412eb);
    color: #fff;
    border-radius: 3px
}

.processor {
    background-color: white;
    margin-top: 5px;
    border-bottom: 1px solid #eee;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.brand {
    background-color: #fff;
    border-bottom: 1px solid #eee
}

.store .product .about h5 {
    font-family: var(--poppins);
    font-size: 18px;
    color: var(--emglow-black);
    font-weight: 700;
    margin-top: 18px;
    text-align: center;
}

.product {
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.product img {
    height: 160px;
    object-fit: cover;
}

.about span {
    color: #5629c0;
    font-size: 16px;
}

.cart-button button {
    font-size: 12px;
    color: #fff;
    background-color: #5629c0;
    height: 38px;
}

.cart-button button:focus,
button:active {
    font-size: 12px;
    color: #fff;
    background-color: #5629c0;
    box-shadow: none;
}

.product_fav i {
    line-height: 40px;
    color: #5629c0;
    font-size: 15px;
}

.product_fav {
    display: inline-block;
    width: 36px;
    height: 39px;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 11%;
    text-align: center;
    cursor: pointer;
    margin-left: 3px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.product_fav:hover {
    background: #5629c0;
}

.product_fav:hover i {
    color: #fff;
}

.about {
    margin-top: 12px;
}

.off {
    position: absolute;
    left: 65%;
    top: 6%;
    width: 80px;
    text-align: center;
    height: 30px;
    line-height: 8px;
    border-radius: 5px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.store .btn-link {
    list-style: none;
    text-decoration: none;
    color: var(--emglow-black);
}

/* DOKTER */

.dokter {
    margin-bottom: 100px;
}

.heading-title {
    margin-bottom: 100px;
}

.text-center {
    text-align: center;
}

.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
    font-family: var(--bai);
    color: var(--emglow-black);
    font-weight: 700;
}

.p-top-30 {
    padding-top: 30px;
}

.team-member {
    width: 100%;
    height: 248px;
    overflow: hidden;
    border-radius: 24px;
}

.team-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}

.text-uppercase {
    text-transform: uppercase;
}

.desk,
.desk h4,
.team-hover .s-link a {
    text-align: center;
    color: #222;
}

.desk,
.desk h4,
.team-hover .s-link a {
    text-align: center;
    color: #222;
}

.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
}

.team-title h5 {
    display: block;
    text-transform: uppercase;
    color: var(--emglow-primary);
    font-family: var(--bai);
    font-weight: 700;
    letter-spacing: 1px;
}

.team-title .subtitle {
    font-size: 12px;
    color: #a5a5a5;
    letter-spacing: 1px;
}

/* Treatment Detail*/

.text-bold {
    font-weight: 800;
}

text-color {
    color: #0093c4;
}

/* Main image - left */
.main-img img {
    width: 100%;
}

/* Preview images */
.previews img {
    width: 100%;
    height: 140px;
}

.main-description .category {
    text-transform: uppercase;
    color: #0093c4;
}

.main-description .product-title {
    font-size: 2.5rem;
}

.old-price-discount {
    font-weight: 600;
}

.new-price {
    font-size: 2rem;
}

.details-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    color: #757575;
}

.buttons .block {
    margin-right: 5px;
}

.quantity input {
    border-radius: 0;
    height: 40px;

}


.custom-btn {
    text-transform: capitalize;
    background-color: #0093c4;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 0;
}

.custom-btn:hover {
    background-color: #0093c4 !important;
    font-size: 18px;
    color: white !important;
}

.similar-product img {
    height: 320px;
    object-fit: cover;
    border-radius: 36px;
    cursor: pointer;
}

.similar-product {
    text-align: left;
    margin-bottom: 24px;
}

.similar-product .text-muted {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}

.similar-product .title {
    margin-top: 16px;
    margin-bottom: 12px;
    font-family: var(--bai);
    font-size: 24px;
    color: var(--emglow-black);
    line-height: 36px;
    font-weight: 700;
}

.similar-product .price {
    font-weight: bold;
}

.questions .icon i {
    font-size: 2rem;
}

.questions-icon {
    font-size: 2rem;
    color: #0093c4;
}

.btn-outline-emglow {
    background-color: transparent;
    border: 1px solid var(--emglow-accent);
    border-radius: 24px;
    padding: 8px 24px;
    color: var(--emglow-accent);
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 16px;
    transition: all 200ms ease-in-out;
}

.btn-outline-emglow:hover {
    background-color: var(--emglow-accent);
    color: white;
}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    /* Make preview images responsive  */
    .previews img {
        width: 100%;
        height: auto;
    }

}

/* Reseller */

.reseller {
    margin-bottom: 100px;
}

.reseller .header-section {
    background-image: url('/../assets/bg-reseller.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.reseller .title {
    font-size: 36px;
    font-family: var(--bai);
    font-weight: 700;
    color: var(--emglow-black);
    line-height: 48px;
}

.reseller .img-reseller img {
    height: 220px;
    object-fit: cover;
}

.reseller .desc-box .h3 {
    color: var(--emglow-primary);
    font-family: var(--poppins);
    font-weight: 600;
}

.reseller .desc-box .desc {
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

/* Karir */

.karir {
    margin-bottom: 100px;
}

.karir .header-section {
    background-image: url('/../assets/bg-karir.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.karir .title {
    font-size: 36px;
    font-family: var(--bai);
    font-weight: 700;
    color: var(--emglow-black);
    line-height: 48px;
}

.karir .desc-box .h3 {
    font-family: var(--poppins);
    color: var(--emglow-black);
    font-weight: 600;
}

.karir .desc-box .desc {
    font-size: 14px;
    color:#767E7E;
    line-height: 26px;
    font-weight: 400;
}